
.subheading{text-transform: none;}

.subheading{text-transform:none;font-weight:500;font-family:'Saira Extra Condensed',serif;font-size:1.35rem}
.bg-primary{background-color:rgb(0, 217, 255)!important}
/* override
.text-primary{color:rgb(0, 217, 255)!important}*/
.text-primary{color:#868e96!important}

a{color:rgb(0, 217, 255)}
a:active,a:focus,a:hover{color:rgb(0, 26, 255)}

.primary {
  color:rgb(0, 217, 255);
}
.strong-underlined {
  font-weight: bolder;
  text-decoration: underline;
}
.strong {
  font-weight: bolder;
}
.underlined {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}

/* override */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Saira Extra Condensed',serif;
  font-weight: 700;
  /*text-transform: uppercase;*/
  text-transform: none;
  color: #343a40;
}
h1, h2 {
  text-transform: uppercase;
}
/* by me not used
.text-transform-none {
  text-transform: none;
}
.uppercase {
  text-transform: uppercase;
}
*/

/*  override */
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: black; /* #fff; override */
}
/*  override */
#sideNav .navbar-brand {
  display: flex;
  margin: auto auto 0;
  /*margin-top: auto;*/
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: .5rem;
}
/* This one in _spacing.scss is used to vertically center div in sections. do I want it? */
/*  override this  margin-top: 0 !important make the h2 be vertically centered */
.mt-auto, .my-auto {
  margin-top: 3rem !important;
}



.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,.75);
}

img{
  max-height:500px;
  max-width:500px;
  height:auto;
  width:auto;
}

/*  override dates and locations on the right*/
section.resume-section .resume-item .resume-date{min-width:15rem}
