<!-- Copied from moderna's template richtextpage.html-->
{% extends "pages/page.html" %}

{% load mezzanine_tags %}
{% block left_wrapper %}
{% endblock %}

<div class="col-md-{% block main_col_size %}8{% endblock %}">
{% block main %}{{ block.super }}
<!--
{% editable page.richtextpage.content %}
{{ page.richtextpage.content|richtext_filters|safe }}
<p>Ale: page.richtextpage.content</p>
{% endeditable %}
-->

{% block content %}
{% endblock %}
{% endblock %}
</div>

{% block right_panel %}
<p>Ale: block right_panel</p>
{{block.super}}
{% endblock %}