<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resume</title>
    <!--  load compress
     compress css -->
    <!-- Bootstrap core CSS  -->
    <link href="{% static 'resume/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900'" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i'" rel="stylesheet">
    <link href="{% static 'resume/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'resume/vendor/devicons/css/devicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'resume/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'resume/css/resume.min.css' %}" rel="stylesheet">
    <link href="{% static 'resume/css/resume-overrides.css' %}" rel="stylesheet">

    <!--Modals project-->
    <script>
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    function openModal(img,event) {
      var modal = img.querySelector('.modal');
      var modalImg = modal.querySelector(".modal-content")
      var captionText = img.querySelector(".caption");
      if ((event.target.className=="thumb") || (event.target.className.includes('fa-external-link'))) {
        modal.style.display = "block";
        modalImg.src = img.style.backgroundImage.split('\"')[1];
        captionText.innerHTML = img.getAttribute('title');
        modal.style.zIndex=1;
      } else if ((event.target.className=="close")||(event.target.className=="modal")) {
        modal.style.display = "none";
        modal.style.zIndex="";
      }
    }
    </script>
    <!-- Bootstrap -->
    <!--
    <link rel="stylesheet" href="/static/resume/bootstrap-grids-thumbnails/css/bootstrap.css" rel="stylesheet">
    -->
    <!-- endcompress -->
  </head>

  <body id="page-top">
    {% block sideNav %}
    {% endblock %}
    {% block content %}
    {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'resume/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'resume/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'resume/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'resume/js/resume.min.js' %}"></script>

  </body>

</html>
