{% extends "resume/base.html" %}

{% block sideNav %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">Resume</span>
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'resume/img/profile.jpg' %}" alt="">
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#achievements"><div>Projects</div></a>
      </li>  
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#courses"><div>Certificates</div><div>&amp; Courses</div></a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
{% with personal_info|first as pinfo %}
<div class="container-fluid p-0">
  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
      <h1 class="mb-0">{{ pinfo.first_name }} {{ pinfo.middle_name }}
        {% spaceless %}
        <span class="primary">{{ pinfo.last_name}}</span>
        {% if pinfo.suffix %}
        <span style="text-transform: none;">, {{ pinfo.suffix}}</span>
        {% endif %}
        {% endspaceless %}
      </h1>
      <div class="subheading mb-5">{{pinfo.title}}
        {% if pinfo.email %}
        {% if overview.text %}
        <a href="mailto:{{ pinfo.email }}">{{ pinfo.email }}</a>
        {% endif %}
        {% endif %}
      </div>
      {% with overview|first as overview %}
      <p class="mb-5">{{ overview.text|safe }}</p>
      {% endwith %}

      <ul class="list-inline list-social-icons mb-0">
        {% if pinfo.email %}
        <li class="list-inline-item">
          <a href="{{pinfo.email}}" target="_blank" title="Send me an email">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if pinfo.site %}
        <li class="list-inline-item" target="_blank">
          <a href="{{pinfo.site}}" target="_blank" title="My site at: {{pinfo.site}}">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %} 
        {% if pinfo.facebook %}
        <li class="list-inline-item">
          <a href="{{pinfo.facebook}}" target="_blank" title="Go to my facebook page">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if pinfo.twitter %}
        <li class="list-inline-item">
          <a href="{{pinfo.twitter}}" target="_blank" title="Go to my twitter account">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if pinfo.linkedin %}
        <li class="list-inline-item">
          <a href="{{pinfo.linkedin}}" target="_blank" title="Go to my linkedin account">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if pinfo.github %}
        <li class="list-inline-item">
          <a href="{{pinfo.github}}" target="_blank" title="Go to my github account">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
      <h2 class="mb-5">Experience</h2>
      {% for job in job_list %}
      <h3 class="mb-0">{{ job.title|capfirst }}</h3>
      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <div class="subheading mb-3">
            {% if job.companyurl %}
            <a target="_blank" href="{{ job.companyurl }}">{{ job.company }}</a>
            {% else %}
            <a target="_blank" href="">{{ job.company }}</a>
            {% endif %} 
          </div>
          {% autoescape off %}
          <p>{{ job.description }}</p>
          <ul class="fa-ul mb-0">
            {% for acc in job.jobaccomplishment_set.all %}
            <li>
              <i class="fa-li fa fa-check"></i>
              {{ acc.description }}
            </li>
            {% endfor %}
          </ul>
          {% endautoescape %}
        </div>
        <div class="resume-date text-md-right">
          <div class="subheading mb-3 text-primary">{{ job.formatted_start_date }} - {{ job.formatted_end_date }}</div>
          <p >{{ job.location|safe }}</p>
        </div>
      </div>
      {% endfor %}

    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
    <div class="my-auto">
      <h2 class="mb-5">Education</h2>
      {% for edu in education %}
      <!--<h3 class="mb-0">{{ edu.degree }}</h3>-->
      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <div class="subheading mb-3">
            <h3 class="mb-0">{{ edu.degree }}</h3>
            <!--<p class="mb-0">{{ edu.degree }}</p>-->
          </div>
          <p>
            {% if edu.schoolurl %}
            <a href="{{ edu.schoolurl }}" target="_blank">{{ edu.name|safe }}</a>
            {% endif %}
          </p>
          <p>
            {% if edu.schoolurl2 %}
            <a href="{{ edu.schoolurl2 }}" target="_blank">{{ edu.name2|safe }}</a>
            {% endif %} 
          </p>
          <p>{{ edu.description }}</p>
        </div>
        <div class="resume-date text-md-right mb-0">
          <div class="subheading mb-3 text-primary">{{ edu.formatted_start_date }} - {{ edu.formatted_end_date }}</div>
          <p>{{ edu.location|safe }}</p>
          <p>{{ edu.location2|safe }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>



  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
      <h2 class="mb-5">Skills</h2>
      <!-- for education there is this:
      <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <div class="subheading mb-3">
              <h3 class="mb-0">{{ edu.degree }}</h3>
            -->
      <div class="subheading mb-3">
        <h3 class="mb-0">Programming Languages &amp; Tools</h3>
      </div>
      <ul>
        {% for parea in progarea %}
        <li>
          <p>
            <strong>{{ parea.name }}</strong>:
            {% for prog in parea.programminglanguage_set.all %}
            <span title={{prog.description}}>{{ prog.name }}</span>{%if not forloop.last%},{%endif%}
            {% endfor %}
          </p>
        </li>          
        {% endfor %}
      </ul>
      <br>


      {% for sks in skillset %}
      <div class="subheading mb-3">
        <h3 class="mb-0">{{sks.name}}</h3>          
      </div>
      <ul>
        {% for sk in sks.skill_set.all %} 
        <li>
          <p>
          {{ sk.text }}
          {{ sk.skillurl }}
          </p>
        </li>
        {% endfor %}
      </ul>
      <br>
      {% endfor %}

      <div class="subheading mb-3">
        <h3 class="mb-0">Languages</h3>          
      </div>
      
      <ul>
        {% for lan in language|dictsortreversed:"level" %}
        <li>
          <p>
          <strong>{{ lan.language }}</strong>: {{ lan.get_level_display }}
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="achievements">
    <div class="my-auto">
      <h2 class="mb-5">Projects</h2>  
      {% for prtype in projtype %}
      <div class="subheading mb-3">
          <h3 class="mb-0">{{ prtype.name }}</h3>
      </div>
      <ul class="achievements">
        {% for proj in prtype.project_set.all %}
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            {% if proj.name %}
            <a href="{{ proj.link}}" target="_block">{{ proj.name }}</a>:
            {%endif%}
            {{ proj.description|safe }} 
          </li>
        </ul>
        {% endfor %}
      </ul>
      <br>
      {% endfor %}
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="courses">
    <div class="my-auto">
    <div class="subheading mb-3">
      <h3 class="mb-0">Certificates and Courses</h3>
    </div>
    <ul class="achievements">
      {% for ach in achievement %}
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check"></i>
          {% if ach.title %}
          <a href="{{ ach.url}}" target="_block">{{ ach.title }}</a>:
          {%endif%}
          {{ ach.description|capfirst|safe }} 
        </li>
      </ul>
      {% endfor %}
    </ul>
    <br>

    {% if publication %}
    <div class="subheading mb-3">
      <h3 class="mb-0">Publications</h3>
    </div>
    <ul class="achievements">
      {% for pub in publication %}
      <ul class="fa-ul mb-0">
        <li >
          <i class="fa-li fa fa-check" style="display:block;"></i>
          {{ pub.formatted_authors|safe }} {{ pub.title }} 
            <span class="italic">{{ pub.journal }}</span>, {{ pub.year }},
          {{ pub.journalpages }}.
          <a target="_blank" href="{{ pub.link }}">Link</a>
        </li>
      </ul>
      {% endfor %}
    </ul>
    {% endif %}
  </div>




  <!-- I need this css! -->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <br>
  
  <div class="container">
    <h2>Carousel Example</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>


      <div class="carousel-inner">

        <div class="item active">
          <img src="{% static 'resume/img/iGrow.png' %}" alt="iGrow" style="width:80%;">
          <div class="carousel-caption">
            <h3>Los Angeles</h3>
            <p>LA is always so much fun!</p>
          </div>
        </div>

        <div class="item">
          <img src="{% static 'resume/img/DeepSeeButtons.gif' %}" alt="DeepSeeButtons" style="width:70%;">
          <div class="carousel-caption">
            <h3>Chicago</h3>
            <p>Thank you, Chicago!</p>
          </div>
        </div>
      
        <div class="item">
          <img src="{% static 'resume/img/profile.jpg' %}" alt="New York" style="width:60%;">
          <div class="carousel-caption">
            <h3>New York</h3>
            <p>We love the Big Apple!</p>
          </div>
        </div>
    
      </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
-->
</section>
{% endwith %}
{% endblock %}