{% extends "base.html" %}
{% load i18n  mezzanine_tags staticfiles%}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block breadcrumb_wrapper %}
{% endblock %}

{% block title_wrapper %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block all_content %}
<section id="{% block section_id %}featured{% endblock %}">
{% block left_wrapper %}
{% endblock %}


{% block main_wrapper %}
<div class="col-md-{% block main_col_size %}none{% endblock %} {% block main_class %}{% endblock %}">
{% block main %}

	<style>

	li {
  		display: inline-block;
	}

	li img {
  		margin:0 auto;
	}
	</style>

<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
			<!-- Slider -->
				<div id="main-slider" class="flexslider">
					<ul class="slides">
					<li>
						<img src="{% static 'img/slides/phd_smile.jpg' %}" alt="" style="height:auto;width:auto;max-height: 500px; max-width: 1100px;"/>
						<div class="flex-caption">
							<h3>Machine Learning</h3>
							<p>Project in machine learning</p>
							<a href="#" class="btn btn-theme">Learn More</a>
						</div>
					</li>
					<li>
						<img src="{% static 'img/slides/laptop_cup.jpg' %}" alt=""  style="height:auto;width:auto;max-height: 500px; max-width: 1100px;"/>
						<div class="flex-caption">
							<h3>Blog</h3>
							<p>Link to my blog</p>
							<a href="/blog/" class="btn btn-theme">Blog</a>
						</div>
					</li>
					<li>
						<img src="{% static 'img/slides/ale_sunglasses.jpg' %}" alt="" style="height:auto;width:auto;max-height: 500px; max-width: 1100px;"/>
						<div class="flex-caption">
							<h3>Development in Python</h3>
							<p>Django..</p>
							<a href="#" class="btn btn-theme">Learn More</a>
						</div>
					</li>
					</ul>
				</div>
			<!-- end slider -->
			</div>
		</div>
	</div>	

	{% endblock %}
	</div>
	{% endblock %}
	{% block right_wrapper %}
	{% endblock %}
	</section>
	<section class="callaction">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="big-cta">
						<div class="cta-text">
							<h2><span>Alessandro Marin</span>'s site, blog, resume</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-3">
							<div class="box">
								<div class="box-gray aligncenter">
									<h4>Fully responsive</h4>
									<div class="icon">
									<i class="fa fa-desktop fa-3x"></i>
									</div>
									<p class="">
									 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
									</p>

								</div>
								<div class="box-bottom">
									<a href="#">Learn more</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="box">
								<div class="box-gray aligncenter">
									<h4>Modern Style</h4>
									<div class="icon">
									<i class="fa fa-pagelines fa-3x"></i>
									</div>
									<p>
									 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
									</p>

								</div>
								<div class="box-bottom">
									<a href="#">Learn more</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="box">
								<div class="box-gray aligncenter">
									<h4>Customizable</h4>
									<div class="icon">
									<i class="fa fa-edit fa-3x"></i>
									</div>
									<p>
									 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
									</p>

								</div>
								<div class="box-bottom">
									<a href="#">Learn more</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="box">
								<div class="box-gray aligncenter">
									<h4>Valid HTML5</h4>
									<div class="icon">
									<i class="fa fa-code fa-3x"></i>
									</div>
									<p>
									 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
									</p>

								</div>
								<div class="box-bottom">
									<a href="#">Learn more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- divider -->
			<div class="row">
				<div class="col-lg-12">
					<div class="solidline">
					</div>
				</div>
			</div>
			<!-- end divider -->
			<!-- Portfolio Projects -->
			<div class="row">
				<div class="col-lg-12">
					<h4 class="heading">Recent Works</h4>
					<div class="row">
						<section id="projects">
						<ul class="portfolio" id="thumbs">
							<!-- Item Project and Filter Name -->
							<li data-type="web" data-id="id-0" class="col-lg-3 design">
							<div class="item-thumbs">
							<!-- Fancybox - Gallery Enabled - Title - Full Image -->
							<a href="{% static 'img/works/panda_topgenes.png' %}" title="Work 1" data-fancybox-group="gallery" class="hover-wrap fancybox">
							<span class="overlay-img"></span>
							<span class="overlay-img-thumb font-icon-plus"></span>
							</a>
							<!-- Thumb Image and Description -->
							<img alt="panda_topgenes" src="{% static 'img/works/panda_topgenes.png' %}">
							</div>
							</li>
							<!-- End Item Project -->
							<!-- Item Project and Filter Name -->
							<li data-type="icon" data-id="id-1" class="item-thumbs col-lg-3 design">
							<!-- Fancybox - Gallery Enabled - Title - Full Image -->
							<a href="{% static 'img/works/InstallBI.png' %}" title="InstallBI" data-fancybox-group="gallery" class="hover-wrap fancybox">
							<span class="overlay-img"></span>
							<span class="overlay-img-thumb font-icon-plus"></span>
							</a>
							<!-- Thumb Image and Description -->
							<img alt="InstallBI.png" src="{% static 'img/works/InstallBI.png' %}">
							</li>
							<!-- End Item Project -->
							<!-- Item Project and Filter Name -->
							<li data-type="illustrator" data-id="id-2" class="item-thumbs col-lg-3 photography">
							<!-- Fancybox - Gallery Enabled - Title - Full Image -->
							<a href="{% static 'img/works/tantrix_game_2players.png' %}" title="Tantrix" data-fancybox-group="gallery" class="hover-wrap fancybox">
							<span class="overlay-img"></span>
							<span class="overlay-img-thumb font-icon-plus"></span>
							</a>
							<!-- Thumb Image and Description -->
							<img alt="tantrix_game_2players" src="{% static 'img/works/tantrix_game_2players.png' %}">
							</li>
							<!-- End Item Project -->
							<!-- Item Project and Filter Name -->
							<li data-type="illustrator" data-id="id-2" class="item-thumbs col-lg-3 photography">
							<!-- Fancybox - Gallery Enabled - Title - Full Image -->
							<a href="{% static 'img/works/tantrix_game_2players.png' %}" title="Tantrix" data-fancybox-group="gallery" class="hover-wrap fancybox">
							<span class="overlay-img"></span>
							<span class="overlay-img-thumb font-icon-plus"></span>
							</a>
							<!-- Thumb Image and Description -->
							<img alt="tantrix_game_2players 2" src="{% static 'img/works/tantrix_game_2players.png' %}">
							</li>
							<!-- End Item Project -->
						</ul>
						</section>
					</div>
				</div>
			</div>

		</div>
	</section>


<section id="recent-works">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Our Latest Project</h3>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <div class="btn-group">
                        <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon-angle-left"></i></a>
                        <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon-angle-right"></i></a>
                    </div>
                    <p class="gap"></p>
                </div>
                <div class="col-md-9">
                    <div id="scroller" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static 'img/works/tantrix_game_2players.png' %}" alt="">
                                                <h5>
                                                    Nova - Corporate site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  'img/works/tantrix_game_2players.png' %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static 'img/works/tantrix_game_2players.png' %}" alt="">
                                                <h5>
                                                    Fornax - Apps site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  'img/works/tantrix_game_2players.png' %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static 'img/works/tantrix_game_2players.png' %}" alt="">
                                                <h5>
                                                    Flat Theme - Business Theme
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  'img/works/tantrix_game_2players.png' %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                            </div><!--/.item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static 'img/works/tantrix_game_2players.png' %}" alt="">
                                                <h5>
                                                    Flat Theme - Business Theme
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  'img/works/tantrix_game_2players.png' %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static 'img/works/tantrix_game_2players.png' %}" alt="">
                                                <h5>
                                                    Nova - Corporate site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  'img/works/tantrix_game_2players.png' %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static 'img/works/tantrix_game_2players.png' %}" alt="">
                                                <h5>
                                                    Fornax - Apps site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  'img/works/tantrix_game_2players.png' %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/.item-->
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
    </section><!--/#recent-works-->

{% endblock %}
