{% extends "base.html" %}
{% load i18n  mezzanine_tags staticfiles%}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block breadcrumb_wrapper %}
{% endblock %}

{% block title_wrapper %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block all_content %}
<section id="{% block section_id %}featured{% endblock %}">
{% block left_wrapper %}
{% endblock %}


{% block main_wrapper %}
<div class="col-md-{% block main_col_size %}none{% endblock %} {% block main_class %}{% endblock %}">
{% block main %}

	<style>
	/*center images top
	.container .flexslider li {
  		display: inline-block;
	}
	.container .flexslider li img {
  		margin:0 auto;
	}
	.container .flexslider .flex-caption {
		height: auto;
		width: auto;
		max-height: 500px;
		max-width: 1100px;
	}*/

	.portfolio .item-thumbs {
		width: 250px;
		height: 195px;
	}
	#content img { /*Have to override #content img in style.css*/
		/*Auto resize*/
		max-width:100%;
    	max-height:100%;
		/*The following width is needed because some imported style.css has width=100% stretching my tall image*/
		width: auto;
		height:auto;
		position: absolute;
		/*vertically align*/
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	margin: auto;
	}


	.carousel-inner .item {
    	height: 600px;
		background-color: #68A4C4;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
  	}
	</style>



<div class="container">
  <div id="main-slider2" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#main-slider2" data-slide-to="0" class="active"></li>
      <li data-target="#main-slider2" data-slide-to="1"></li>
      <li data-target="#main-slider2" data-slide-to="2"></li>
    </ul>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background-image: url({% static 'img/slides/phd_smile.jpg' %});">
		  <div class="flex-caption">
			  <h3>Machine Learning</h3>
			  <p>Project in machine learning</p>
			  <a href="#" class="btn btn-theme">Learn More</a>
		  </div>
	  </div>
      <div class="item" style="background-image: url({% static 'img/slides/laptop_cup.jpg' %})">
		  <div class="flex-caption">
			<h3>Blog</h3>
			<p>Link to my blog</p>
			<a href="/blog/" class="btn btn-theme">Blog</a>
		</div>
	  </div>
      <div class="item" style="background-image: url({% static 'img/slides/ale_sunglasses.jpg' %})">
		  <div class="flex-caption">
			  <h3>Development in Python</h3>
			  <p>Django..</p>
			  <a href="#" class="btn btn-theme">Learn More</a>
		  </div>
	  </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#main-slider2" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#main-slider2" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>








<!--
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="main-slider" class="flexslider">
					<ul class="slides">
						<li>
							<img src="{% static 'img/slides/phd_smile.jpg' %}" alt=""/>
							<div class="flex-caption">
								<h3>Machine Learning</h3>
								<p>Project in machine learning</p>
								<a href="#" class="btn btn-theme">Learn More</a>
							</div>
						</li>
						<li>
							<img src="{% static 'img/slides/laptop_cup.jpg' %}" alt=""/>
							<div class="flex-caption">
								<h3>Blog</h3>
								<p>Link to my blog</p>
								<a href="/blog/" class="btn btn-theme">Blog</a>
							</div>
						</li>
						<li>
							<img src="{% static 'img/slides/ale_sunglasses.jpg' %}" alt="" />
							<div class="flex-caption">
								<h3>Development in Python</h3>
								<p>Django..</p>
								<a href="#" class="btn btn-theme">Learn More</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	-->

	{% endblock main %}
	</div>
	{% endblock main_wrapper %}
	{% block right_wrapper %}
	{% endblock %}
	</section>
	<section class="callaction">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="big-cta">
						<div class="cta-text">
							<h2><span>Alessandro Marin</span>'s site, blog, resume</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-3">
							<div class="box">
								<div class="box-gray aligncenter">
									<h4>My resume</h4>
									<div class="icon">
										<i class="fa fa-briefcase fa-3x"></i>
									</div>
									<p class="">My resume</p>
								</div>
								<div class="box-bottom">
									<a href="/resume/">Jump in</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3">

							<div class="box">
								<div class="box-gray aligncenter">
									<h4>Blog</h4>
									<div class="icon">
										<i class="fa fa-comment fa-3x"></i>
									</div>
									<p>My blog</p>
								</div>
								<div class="box-bottom">
									<a href="/blog/">Jump in</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="box">
								<div class="box-gray aligncenter">
									<h4>About</h4>
									<div class="icon">
										<i class="fa fa-edit fa-3x"></i>
									</div>
									<p>About</p>
								</div>
								<div class="box-bottom">
									<a href="/about/">Jump in</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="box">
								<div class="box-gray aligncenter">
									<h4>Code</h4>
									<div class="icon">
										<i class="fa fa-code fa-3x"></i>
									</div>
									<p>Code on GitHub</p>
								</div>
								<div class="box-bottom">
									<a href="https://github.com/aless80?tab=repositories">Jump in</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- divider -->
			<div class="row">
				<div class="col-lg-12">
					<div class="solidline">
					</div>
				</div>
			</div>
			<!-- end divider -->
			<!-- Portfolio Projects -->
			<div class="row">
				<div class="col-lg-12">
					<h4 class="heading">Projects</h4>
					<div class="row">
						<section id="projects">
						<ul class="portfolio" id="thumbs">
							<li data-type="web" data-id="id-0" class="col-lg-3 design">
								<div class="item-thumbs">
									<img alt="panda_topgenes" src="{% static 'img/works/panda_topgenes.png' %}">
									<a href="{% static 'img/works/panda_topgenes.png' %}" title="PyPanda" data-fancybox-group="gallery" class="hover-wrap fancybox">
									<span class="overlay-img"></span>
									<span class="overlay-img-thumb font-icon-plus"></span>
									</a>
								</div>
							</li>
							<li data-type="icon" data-id="id-1" class="col-lg-3 design">
								<div class="item-thumbs">
									<img alt="Picture for the Install-Samples-BI project" src="{% static 'img/works/Install-Samples-BI.png' %}">
									<a href="{% static 'img/works/Install-Samples-BI.png' %}" title="Install-Samples-BI" data-fancybox-group="gallery" class="hover-wrap fancybox">
									<span class="overlay-img"></span>
									<span class="overlay-img-thumb font-icon-plus"></span>
									</a>
								</div>
							</li>
							<li data-type="illustrator" data-id="id-2" class="col-lg-3 photography">
								<div class="item-thumbs">
									<img alt="tantrix_game_2players" src="{% static 'img/works/tantrix_game_2players.png' %}">
									<a href="{% static 'img/works/tantrix_game_2players.png' %}" title="Tantrix" data-fancybox-group="gallery" class="hover-wrap fancybox">
									<span class="overlay-img"></span>
									<span class="overlay-img-thumb font-icon-plus"></span>
									</a>
								</div>
							</li>
							<li data-type="illustrator" data-id="id-2" class="col-lg-3 photography">
								<div class="item-thumbs">
									<img alt="orig_from_moderna 1" src="{% static 'img/works/Djangoresume.png' %}">
									<a href="{% static 'img/works/Djangoresume.png' %}" title="Tantrix" data-fancybox-group="gallery" class="hover-wrap fancybox">
									<span class="overlay-img"></span>
									<span class="overlay-img-thumb font-icon-plus"></span>
									</a>
								</div>
							</li>
						</ul>
						</section>
					</div>
				</div>
			</div>

		</div>
	</section>

{% endblock %}
