
body {
    background-color: #e8f3f2;
}

.subheading{text-transform: none;}

.subheading{text-transform:none;font-weight:500;font-family:'Saira Extra Condensed',serif;font-size:1.35rem}
.bg-primary{background-color:rgb(39, 156, 231)!important}

.text-primary{
    /* color:rgb(39, 156, 231)!important} */
    color:#868e96!important;
}

a {
  color:rgb(39, 156, 231);
}
a:active,a:focus,a:hover{color:rgb(0, 26, 255)}

.primary {
  color:rgb(39, 156, 231);
}
.strong-underlined {
  font-weight: bolder;
  text-decoration: underline;
}
.strong {
  font-weight: bolder;
}
.underlined {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}

/* override */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Saira Extra Condensed',serif;
  font-weight: 700;
  /*text-transform: uppercase;*/
  text-transform: none;
  color: #343a40;
}
h1, h2 {
  text-transform: uppercase;
}

/*  override */
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: black; /* #fff; override */
}
/*  override */
#sideNav .navbar-brand {
  display: flex;
  margin: auto auto 0;
  /*margin-top: auto;*/
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: .5rem;
}
/* This one in _spacing.scss is used to vertically center div in sections. do I want it? */
/*  override this  margin-top: 0 !important make the h2 be vertically centered */
.mt-auto, .my-auto {
  margin-top: 3rem !important;
}


.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,.75);
}


body {
    padding-left: 17rem;
    padding-left: 13%;
}
#sideNav {
    /*width: 17rem;*/
    width: 15rem;
    width: 13%;
}
#sideNav .navbar-brand .img-profile {
    max-width: 90%;
    }
/*  override dates and locations on the right*/
section.resume-section .resume-item .resume-date{min-width:15rem}





/* Thumb images and modals */
.thumb {
      height: 200px;
      background-color: rgb(39, 156, 231);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
	  /*width: 250px;
  	  height: 195px;
      margin-left: 15px;

      margin-right: 15px;*/
      margin-bottom: 30px;
      /*vertically align*/
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;

      text-align: center;

  }

/*.thumb:hover {
      filter: blur(0.75px) opacity(65%);
}*/



.launcher {
-webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(5px);
    opacity:0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0%;
    text-align: center;
    color:rgb(39, 156, 231);
}
.thumb:hover > .launcher {
    opacity:1;
    transition: 0.3s;
}

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    text-align: center; /* Needed for centering children */
    /* Center it from the sideNav on the left - yes margin: auto is needed*/
    left: 13%;
    top:0;
    bottom: 0;
    right: 0;
    margin: auto;
    /*sizing*/
    width: auto;
    height: auto;
    overflow: auto;
    background-color: rgb(0,0,0);       /* Fallback color */
    background-color: rgba(0,0,0,0.9);  /* Black w/ opacity */
  }

  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height:80%;
    height: auto;
    width: auto;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 35px;
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    /*text-align: center; already set on parent*/
    color: #ccc;
    padding: 10px 0;
  }

  /* Add Animation */
  .modal-content, .caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
      .modal-content {
          width: 100%;
      }
  }

